.landing-wrapper {
  width:100vw;
  overflow-x:hidden;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pic-wrapper {
  display: flex;
  justify-content: center;
  /* align-self: center; */
  width: 100%;
  height: auto;
  padding-top:2rem;
}

.pic-border-mobile {
  display: flex;
  width: 70vw;
  height:auto;
  justify-content: center;
  align-items:center;
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  z-index: 0;
  border-radius: 0px;
  background: #DFE5E4;
  box-shadow:  9px 9px 18px #595c5b,
              -9px -9px 18px #ffffff;
}

.pic-border-desktop {
  display: flex;
  width: auto;
  height:50vh;
  justify-content: center;
  align-items:center;
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  z-index: 0;
  border-radius: 0px;
  background: #DFE5E4;
  box-shadow:  9px 9px 18px #595c5b,
              -9px -9px 18px #ffffff;
  }

.hidden {
display:none;
}



.show-mobile-pic {
  display: flex;
  justify-content:center; 
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  width: 70vw;
  height: auto;
  z-index: 0;


  
}


.show-desktop-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: 6s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 6s ease 0s normal forwards 1 fadeIn;
  width: auto;
  height: 50vh;
  z-index: 1;
  
  
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
