@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.bio-container {
  /* padding-top:3rem; */
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
  animation: fadeInAnimation 10s;
  backdrop-filter: blur(1px);

}

.text-wrapper-desktop {
  

  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0%;
  background: linear-gradient(0deg, #abc4ff, #f7f7f734  40%, #fffcfcab );
  box-shadow: inset 5px 5px 10px #d2d2d265,
              inset -5px -5px 10px #ffffff00;


}


.text-wrapper-mobile {
  
  /* max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center; */
  border-radius: 0%;
  background: linear-gradient(0deg, #ABC4FF, #f7f7f734  40%, #fffcfcab );
  box-shadow: inset 5px 5px 10px #d2d2d265,
              inset -5px -5px 10px #ffffff00;
              

}


.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width:100vw;
  padding: 4rem;
  font-size: large;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  margin: 0;
}

.bio-large {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40vw;
  padding: 4rem;
  font-size: 1.75rem;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  letter-spacing: 0.33px;
  margin: 0;
}

.bio-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); 
  z-index: -1;
}

.bio-wave svg {
  position: relative;
  display: block;
  width: calc(217% + 1.3px);
  height: 600px;
}

.bio-wave .shape-fill {
  fill: #abc4ff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1200px) {
  .bio-wave svg {
    width: calc(216% + 1.3px);
    height: 200px;
  }
}

/** For mobile devices **/
@media (max-width: 768px) {
  .bio-wave svg {
    width: calc(300% + 1.3px);
    height: 350px;
  }
}

.bio-wrapper {
  width: 100vw;
}


object {
  width:100%;
  display:block;
  height:auto;
  position:relative;
  /* padding-top:100%; */
}

svg {
  width:100%;
  height:100%;
  position:absolute;
  /* top:0;
  left:0; */
}