
<nav class="header">
    <a routerLink="/" class="nav-link override" id="Home">Home</a>
    <a  href="#anchor-scroll"class="nav-link override" id="Home">Contact</a>
    </nav>
<div class="wrapper">
    <div class ="sub-wrapper">
    
        <div class = "border">
 <h1 class="services">Services</h1>
<ul>
<li>Private & Duo Yoga Therapy </li>
<li>Private, Duo, & Small Group Holistic Life & Lifestyle Coaching </li>
<li>Private, Duo, & Small Group Yoga Practice </li>
<li>Private, Duo, & Small Group Meditation & Breathwork </li>
<li>Reiki</li>
</ul>
</div>
<div class = "border">
    <h1 class= "pricing">Pricing</h1>
 <ul >
 <h2 class ="pricing-subheader">6 Month Holistic Coaching Programs (suggested)</h2>
<li> $469/ month, including 2 coaching sessions & 2 yoga therapy sessions/ month- $2,814</li>
<li> $399/ month, including 2 coaching sessions & 2 either yoga practice or reiki sessions/ month- $2,394</li>
<li> $354/ month, including 2 coaching sessions & 1 yoga therapy session/ month- $2,124</li>
<li> $319/ month, including 2 coaching sessions & 1 either yoga practice or reiki session/ month- $1,914</li>
 </ul>
</div>

 <div class = "details-container">
    <div class = "border">
 <h2>80 Minutes</h2>
 <ul>
<li>Private Yoga Practice & Reiki Sessions - $129</li>
<li>3 sessions of Yoga therapy <br/>or Coaching- $522 ($174.00/ session, with a 3 session minimum)</li>
</ul>
</div>
<div class = "border">
<h2>50 Minutes</h2>
<ul>
<li>Private Yoga Practice & Reiki Sessions- $89</li>
<li>3 sessions of Yoga therapy <br/> or Coaching- $359 ($119.67/ session, with a 3 session minimum)</li>
</ul>
</div>

<div class = "border">
<h2>25 Minutes</h2>
<ul>
<li>Private Breathwork + Meditation- $47</li>
</ul>
</div>

<div class = "border">
<h2>Package Deals (50 minutes)</h2>
<ul>
<li>Save 10% when you purchase 10 sessions of reiki or yoga practice!</li>
<li>Save 5% when you purchase 5 sessions of reiki or yoga practice!</li>
<li>10 sessions of coaching + 5 sessions of yoga or reiki- $1,592.75</li>
<li>10 sessions of coaching + 10 sessions of yoga or reiki- $1,971.00</li>
<li>10 sessions of coaching- $1,175</li>
</ul>
<p>*Save an additional 5% on all virtual appointment purchases.<br/>
    *All available above could be at the convenience of your home, virtually, or at <a href="https://www.intuitivecounselingofphilly.com/"> Intuitive Counseling & Wellness</a> in Philadelphia.<br/>
    *Please reach out separately for rates on small group & duo.</p>
</div>
</div>
</div>
</div>
